<form class="cuerpoform" method="POST" action="/">
    <input type="text" name="title" placeholder="Nombre"><br>
    <input type="number" name="price" placeholder="Precio"><br>
    <input type="text" name="thumbnail" placeholder="URL de Imagen"><br><br>
    <input type="submit" value="Submit">
    <input type="button"  class="boton" value="Ver Lista" onclick="location.href='/productos'">
  </form>

  <h4>Link url para probar el POST con imagen:</h4>
  <p>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVj5S9cyvu_MlbeSprEYYmIqDn7svlLlLUCMXUVQsd8F2DEXnzbKwaSKJahxrt06TGQ6Y&usqp=CAU</p>
   